body {
    font-family: "Gotham", Arial, sans-serif; /* Use Gotham if available, fallback to Arial or sans-serif */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: beige;
}

h1 {
    font-family: "Gotham", Arial, sans-serif; /* Use Gotham if available, fallback to Arial or sans-serif */
    color: blue;
}

#list {
    font-family: "Gotham", Arial, sans-serif; /* Use Gotham if available, fallback to Arial or sans-serif */
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 5em;
}

#list li {
    margin-right: 20px; /* Add spacing between items */
    /* Optional styles for list items */
    padding: 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
}

img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 10px; /* Adjust margin as needed */
    border-radius: 50%; /* Make the image circular */
}

#question-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.multiple-choice{
    margin-left: 20%;
}